.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chatheader
{
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.chatheader > img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.chatheaderinfo{
    flex:1;
    margin-left: 15px;
    padding: 5px;
}

.chatheaderinfo>p{
    color: gray;
    margin-top: 1px;
    font-size: x-small;
}

.chatbody{
    flex:1;
    background-color: #f0e9e4;
    padding: 20px;
    overflow-y: scroll;
}

.chat_message{
    background-color: #ffffff;
    width: fit-content;                 /***********IMP******/
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.chat_message > p{
    margin-top: 5px;
    display: inline-block;
}
.chat_message > span{
    margin-left: 10px;
    font-size: xx-small;
}

.chat_reciver{
    margin-left: auto;              /***********IMP******/
    background-color: #dcf8c6;
}

.chatfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 20px;
    border-top: 1px solid lightgray;
}

.chatfooter > form{
    flex: 1;
    display: flex;
}

.chatfooter > form > input{
    flex: 1;
    border: none;
    border-radius: 30px;
    padding: 10px;
}

.chatfooter > form > button{
    border-radius: 10px;
    border: 1px solid lightgray ;
    padding: 10px;
    width: fit-content;
    margin-left: 5px;
    display: none;
}