.login{
    background-color: #f8f8f8;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items:center;
}

.login_container{
    padding: 100px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);
}

.login_container>img{
    width: 100px;
    height: 100;;
    margin-bottom: 20px;
}

.login_container>button{
    margin-top: 20px;
    background-color: #0a8d48;
    color: white;
}

.login_container>button:hover{
    background-color: lightgray;
    color: black;   
}